<section>
    <div class="text-box">

        <div class="container">
            <div class="row">
                <div class="card col-md-4 heading">
                    <h1>{{data.brandName}}</h1>
                </div>
                <div class="card col-md-4 butn"><button type="button" class="btn btn-success btn-xs">Add to cart</button>
                    <button type="button" class="btn btn-warning btn-xs">Rating</button></div>
            </div>

        </div>

        <div class="container">
            <label><b>Over View</b></label>
            <input type="text" placeholder="{{data.overView}}" readonly>

            <label><b>Details</b></label>
            <input type="text" placeholder="{{data.details}}" readonly>

        </div>

    </div>
</section>